.container{
    min-width: 100vw;
}

.heading{
    width: 100vw;
    text-align: center;
    font-size: 6rem;
}

.heading.subtext{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.drawing-section{
    display: flex;
    justify-content: space-evenly;

}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly  ;
}

.colour-button{
    height: 2.5rem;
    font-size: 1.25rem;
}

.resize-section{
    display: flex;
    gap: 1rem;
}

.grid{
    /* HOW WAS THE GRID MADE RESIZABLE?
        Well, if the grid itself is display:flex, then the columns get appended horizontally. Then you give flex grow of 1 to the columns(to occupy the vertical space). But that was appending only n number of straight columns (instead of a nxn grid). The reason was that column's flex direction was row. On changing it to column, it functioned as a grid again. Then you give flex grow ofo 1 to the boxes too (to occupy the horizontal space). */

    display: flex;
    width: 500px;
    height: 500px;
}

.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box{
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* max-width: 100%; */
    flex-grow: 1;
}

.colour{
    background-color: white;
}