.grid{
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid white;
}

.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box{
    border: 1px solid white;
    /* max-width: 100%; */
    flex-grow: 1;
}