html{
    height: 100%;
    width: 100%;
}

.heading{
    min-width: 100vw;
    text-align: center;
    font-size: 8rem;
}

.input-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.set-grid{
    display: flex;
    gap: 0.25rem;
    height:fit-content;
}

.drawing-section{
    min-width: 100vw;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 16rem;
}

.grid{
    height: 500px; /*on problems, add min for height and max for width*/
    width: 500px;
    border: 1px solid white;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box{
    flex-grow: 1;
    border: 1px solid rgba(255, 255, 255, 0.1); 
}

.hoveredWhite{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 50px 1px rgba(255, 255, 255, 0.5);
}

.hoveredPurple{
    background-color: rgb(150, 60, 214);
    box-shadow: 1px 1px 50px 1px rgba(150, 60, 214, 50%);
}

.hoveredPink{
    background-color: rgb(255, 57, 225);
    box-shadow: 1px 1px 50px 1px rgba(255, 57, 225, 50%);
}

.hoveredGreen{
    background-color: rgb(95, 247, 131);
    box-shadow: 1px 1px 50px 1px rgba(95, 247, 131, 50%);
}

.hoveredYellow{
    background-color: rgb(254, 244, 56);
    box-shadow: 1px 1px 50px 1px rgba(254, 244, 56, 50%);
}

.hoveredRed{
    background-color: rgb(255, 80, 80);
    box-shadow: 1px 1px 50px 1px rgba(255, 80, 80, 50%);
}

#white{
    background-color: white;
    color: black;
}

#white:hover{
    background-color: rgb(220, 220, 220);
    box-shadow: 2px 2px 50px 1px rgba(255, 255, 255, 10%);
}

.btn:hover{
    background-color: none;
}

.footer{
    justify-content: center;
}